$bg_card: #fefffe;
$bg_body: #c5e4e7;
$bg_input: #f3f8fb;
$bg_outputcard: hsl(183,100%, 15%);
$color_numberLight: rgb(171, 69%, 44);
$color_numberDark: hsl(180, 8%, 37%);
$bg_tip_selected: hsl(172, 61%, 76%);
$
$
$
$

body {
    background-color: black;
}